<%- include("./layout/head.ejs",{CONFIG})%>
<div class="container">
  <%- include('template/common/header/index.ejs') %>
  <%- include("./template/error/index.ejs")%>
  <%- include('template/common/footer/index.ejs',{
    linkData,
    manualData,
    qr
}) %>
</div>
<%- include("./layout/foot.ejs",{CONFIG})%>